<h1><b>Request Appointment</b></h1>
<hr>
<p>Select a healthcare centre to continue.</p>
<br>

<mat-card class="center-card" multi= "true" *ngFor="let school of schools" matRipple [matRippleColor]="'#fcc2c2'">
  <mat-grid-list cols="5" rowHeight="40px">
    <mat-grid-tile colspan="5"><div class="vac-tiles" style="font-size: 16px;">
      <b>{{school.schoolname}}</b>
    </div></mat-grid-tile>
    <mat-grid-tile colspan="5"><div class="vac-tiles"><mat-icon>location_on</mat-icon>{{school.address}}</div></mat-grid-tile>
    <mat-grid-tile colspan="2"><div class="vac-tiles"><mat-icon>location_city</mat-icon>
      {{school.city}}
    </div></mat-grid-tile>


  </mat-grid-list>
  <mat-toolbar-row class="action-bar">
    <span class="spacer"></span>
    <button mat-stroked-button color='accent' routerLink='{{school.schoolID}}'
    style="display: block;margin-left: auto;margin-right: 0px;">
    Select school</button>
  </mat-toolbar-row >
</mat-card>


