<mat-card  *ngIf="page===0" style="background-color:rgb(255, 255, 255);">
  <div>
    <h1>Welcome to School HELP</h1>

</div>
</mat-card>



<!--If user not exist-->
<mat-card
*ngIf="page===0"
style="margin-top: 2em;">
<div>
  <h1>Please Select To</h1>


    <br>
    <h2>Register As:</h2>
    <button mat-stroked-button class="patient-button"
    color="accent" (click)="gotoPatientReg()">
      A Volunteer</button>
    <button mat-stroked-button class="admin-button"
    color="primary" (click)="gotoAdminReg()">
      Admin</button>
  </div>


</mat-card>

<!--Client Register-->
 <mat-card class="login-card" *ngIf="page===2"

style="margin-top: 2em;">
  <div>
    <h1>Register for Volunteer</h1>
    <mat-progress-bar mode="determinate" ></mat-progress-bar>
    <br>
    <p>
    Please fill in the fields.
    </p>
    <form (submit)="verifyPatient(patientForm)" #patientForm="ngForm">
      <mat-form-field appearance="fill" class="login-card-full-width" >
        <mat-label>Enter your username</mat-label>
        <input matInput type="email" name="username" #username="ngModel" ngModel required minlength="6">

      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width" >
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" name="password" #password="ngModel" ngModel required minlength="6">
        <mat-hint>Password must be 6 or more characters</mat-hint>


      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width" >
        <mat-label>Enter your full name</mat-label>
        <input matInput type="text" name="fullname" #fullname="ngModel" ngModel required minlength="3">

      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width" >
        <mat-label>Enter your Email</mat-label>
        <input matInput type="email" name="email" #email="ngModel" ngModel required minlength="3">

      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width" >
        <mat-label>Enter your Occupation</mat-label>
        <input matInput type="text" name="occupation" #occupation="ngModel" ngModel required minlength="3">

      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width" >
        <mat-label>Enter your Date of birth</mat-label>
        <input matInput type="date" name="date" #date="ngModel" ngModel required minlength="3">

      </mat-form-field>



      <mat-form-field appearance="fill" class="login-card-full-width"
      >
        <mat-label>Enter your phone No.</mat-label>
        <input type="tel" matInput name="phone"
          ngModel #phone="ngModel"
          pattern="[0-9]{10,11}"
          placeholder="Eg. 0123335433" required>
        <mat-hint>Make sure your phone No. is valid.</mat-hint>

      </mat-form-field>
      <button type="submit" mat-raised-button class="login-button" color="accent"
        [disabled]="!patientForm.valid" routerLink="/loginVol">
      Proceed</button>
      </form>
  </div>
</mat-card>




<!--admin Register-->
<!-- <mat-card class="login-card" *ngIf="page===3"

style="margin-top: 2em;">
  <div>
    <h1>Register for Admin</h1>
    <mat-progress-bar mode="determinate" ></mat-progress-bar>
    <br>
    <p>
    Please fill in the fields.
    </p>
    <form (submit)="verifyAdmin(adminForm)" #adminForm="ngForm">
      <mat-form-field appearance="fill" class="login-card-full-width" >
        <mat-label>Enter your username</mat-label>
        <input matInput type="email" name="username" #username="ngModel" ngModel required minlength="6">

      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width" >
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" name="password" #password="ngModel" ngModel required minlength="6">
        <mat-hint>Password must be 6 or more characters</mat-hint>


      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width" >
        <mat-label>Enter your full name</mat-label>
        <input matInput type="text" name="fullname" #fullname="ngModel" ngModel required minlength="3">

      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width">
        <mat-label>Select idendity type:</mat-label>
        <mat-select ngModel name="type" #type="ngModel" required [(ngModel)]="ICoptionValue">
          <mat-option value="IC">New IC</mat-option>
          <mat-option value="Passport">Passport</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width"

      *ngIf="ICoptionValue == 'Passport'">
        <mat-label>Enter your Passport No.</mat-label>
        <input type="text" matInput name="passport"
          ngModel #passport="ngModel"
          pattern="^[A-PR-WYa-pr-wy][1-9]\d\s?\d{4}[1-9]$"
          placeholder="Eg. A123456789" required>
        <mat-hint>Make sure your passport No. is valid.</mat-hint>



      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width"

      *ngIf="ICoptionValue == 'IC'">
        <mat-label>Enter your IC No.</mat-label>
        <input type="tel" matInput name="ICno"
          ngModel #ICno="ngModel"
          pattern="[0-9]{12}"
          placeholder="Eg. 901010105555" required>
        <mat-hint>Make sure your IC No. is valid.</mat-hint>

      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width"
      >
        <mat-label>Enter your phone No.</mat-label>
        <input type="tel" matInput name="phone"
          ngModel #phone="ngModel"
          pattern="[0-9]{10,11}"
          placeholder="Eg. 0123335433" required>
        <mat-hint>Make sure your phone No. is valid.</mat-hint>

      </mat-form-field>
      <button type="submit" mat-raised-button class="login-button" color="accent"
        [disabled]="!adminForm.valid">
      Proceed</button>
      </form>
  </div>
</mat-card> -->

<!--admin verify and loc-->
<mat-card class="login-card"
*ngIf="page===4"
style="margin-top: 5em;">
  <div>
    <h1>Select School or Register a new school.</h1>
    <mat-progress-bar mode="determinate" ></mat-progress-bar>
    <br>

      <p>
        <mat-checkbox name="newCentreSelect"  [formControl]="newCentreSelect">New healthcare centre</mat-checkbox>
      </p>

      <form (submit)="existingCentre(AdminCentreForm)" #AdminCentreForm="ngForm" *ngIf="!newCentreSelect.value">
      <mat-form-field appearance="fill" class="login-card-full-width"
   >
        <mat-label>Select from existing centres:</mat-label>
        <mat-select ngModel name="centre" #centre="ngModel" required
        [disabled]="newCentreSelect.value">
          <mat-option *ngFor="let centre of centres" [value]="centre.centreID">
          <b>{{centre.centreName}}</b>, {{centre.centreState}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" mat-raised-button class="login-button" color="accent"
        [disabled]="!AdminCentreForm.valid">
      Proceed</button>
      </form>

      <form (submit)="newCentre(AdminForm)" #AdminForm="ngForm" *ngIf="newCentreSelect.value">
      <mat-form-field appearance="fill" class="login-card-full-width"
       *ngIf="newCentreSelect.value">
        <mat-label>Enter centre name</mat-label>
        <input matInput type="text" name="centreName" #centreName="ngModel" ngModel required minlength="6">
        <mat-hint>Centre name must be 4 or more characters</mat-hint>
        <mat-error *ngIf="centreName.hasError('minlength')">Must be <strong>4 or more</strong> characters!</mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width"
       *ngIf="newCentreSelect.value">
        <mat-label>Enter centre address</mat-label>
        <input matInput type="text" name="centreAddress" #centreAddress="ngModel" ngModel required minlength="6">
        <mat-hint>Enter a valid address.</mat-hint>

      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width"
       *ngIf="newCentreSelect.value">
        <mat-label>Enter centre postcode</mat-label>
        <input type="tel" matInput name="postcode"
          ngModel #postcode="ngModel"
          pattern="[0-9]{5}"
          placeholder="Eg. 51000" required>
        <mat-hint>Make sure your postcode is valid.</mat-hint>


      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width"
       *ngIf="newCentreSelect.value">
        <mat-label>Enter centre State</mat-label>
        <input matInput type="text" name="centreState" #centreState="ngModel" ngModel required minlength="6">
        <mat-hint>Enter a valid State.</mat-hint>

      </mat-form-field>

      <button type="submit" mat-raised-button class="login-button" color="accent"
        [disabled]="!AdminForm.valid">
      Proceed</button>
    </form>
  </div>
</mat-card>



<!--admin register-->
<mat-card class="login-card" *ngIf="page===3"

style="margin-top: 5em;">
  <div>
    <h1>Register</h1>

    <br>
    <p>
      Please fill in the fields.
    </p>
    <form (submit)="regAdmin(AdminForm)" #AdminForm="ngForm">
      <mat-form-field appearance="fill" class="login-card-full-width" >
        <mat-label>Enter your username</mat-label>
        <input matInput type="text" name="username" #username="ngModel" ngModel required minlength="6">
        <mat-hint>Username must be 6 or more characters</mat-hint>
        <mat-error *ngIf="username.hasError('minlength')">Must be <strong>6 or more</strong> characters!</mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width" >
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" name="password" #password="ngModel" ngModel required minlength="6">
        <mat-hint>Password must be 6 or more characters</mat-hint>


        <mat-error *ngIf="password.hasError('minlength')">Must be <strong>6 or more</strong> characters!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width" >
        <mat-label>Enter your full name</mat-label>
        <input matInput type="text" name="fullname" #fullname="ngModel" ngModel required minlength="3">
        <mat-hint>Name must be 3 or more characters</mat-hint>
        <mat-error *ngIf="fullname.hasError('minlength')">Must be <strong>3 or more</strong> characters!</mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width" >
        <mat-label>Enter your Email</mat-label>
        <input matInput type="email" name="email" #email="ngModel" ngModel required minlength="3">
        <mat-hint>Name must be 3 or more characters</mat-hint>
        <mat-error *ngIf="fullname.hasError('minlength')">Must be <strong>3 or more</strong> characters!</mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width"
      >
        <mat-label>Enter your phone No.</mat-label>
        <input type="tel" matInput name="phone"
          ngModel #phone="ngModel"
          pattern="[0-9]{10,11}"
          placeholder="Eg. 0123335433" required>
        <mat-hint>Make sure your phone No. is valid.</mat-hint>

      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width" >
        <mat-label>Enter your StaffID</mat-label>
        <input matInput type="text" name="staffID" #staffID="ngModel" ngModel required minlength="3">
        <mat-hint>Name must be 3 or more characters</mat-hint>
        <mat-error *ngIf="staffID.hasError('minlength')">Must be <strong>3 or more</strong> characters!</mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width" >
        <mat-label>Enter your position</mat-label>
        <input matInput type="text" name="position" #position="ngModel" ngModel required minlength="3">



      </mat-form-field>



      <button type="submit" mat-raised-button class="login-button" color="accent"
        [disabled]="!AdminForm.valid" routerLink="/signup">
      Proceed</button>
    </form>
  </div>
</mat-card>

<!--if user found-->
 <mat-card class="login-card"
*ngIf="page===5"
style="margin-top: 10em;">
  <div>
    <h1>Welcome back, {{placeholderName}}.</h1>
    <p>
        Make sure to keep your password private.
        Never share it to anyone.
        <a onclick="this.ngOnInit()">Try another Email</a>.
    </p>

    <br>
    <form (submit)="login(LoginForm)" #LoginForm="ngForm">
      <mat-form-field appearance="fill" class="login-card-full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" name="password" #password="ngModel" ngModel required>
        <mat-hint> </mat-hint>

      </mat-form-field>
      <button type="submit" mat-raised-button class="login-button" color="accent"
      [disabled]="!LoginForm.valid" >
        Login
      </button>
    </form>
  </div>
</mat-card>


