<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <a routerLink="home" mat-button class="sidenav-btn"><div class="icon-text"><mat-icon class="sidenav-icon">home</mat-icon>Home</div></a>
    <a routerLink="request" mat-button class="sidenav-btn"><div class="icon-text"><mat-icon class="sidenav-icon">list</mat-icon>Manage Requests</div></a>
    <a routerLink="offer" mat-button class="sidenav-btn"><div class="icon-text"><mat-icon class="sidenav-icon">event</mat-icon>View Offers</div></a>
    <hr>
    <a routerLink="/login" (click)="logout()" mat-button class="sidenav-btn"><div class="icon-text"><mat-icon class="sidenav-icon">launch</mat-icon>Logout</div></a>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
