<h1><b>View Request</b></h1>
<mat-accordion multi="true" *ngIf="posts.length>0">
  <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
          {{requestID.request}}
      </mat-expansion-panel-header>
      <p>{{post.content}}</p>
      <mat-action-row>
        <button mat-button color="primary">Edit</button>
        <button mat-button color="warn">Delete</button>
      </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p class="info-text mat-body-1" *ngIf="posts.length == 0">No post added yet</p>



<mat-card class="center-card" multi="true" *ngFor="let resource of resources">
  <mat-grid-list cols="7" rowHeight="40px">

      <mat-grid-tile colspan="3"><div class="vac-tiles">
        <mat-icon>description</mat-icon>Description: {{resource.description}}
        </div></mat-grid-tile>

        <mat-grid-tile colspan="2"><div class="vac-tiles">
          <mat-icon>list</mat-icon>Type: {{resource.resourceType}}
        </div></mat-grid-tile>

        <mat-grid-tile colspan="2"><div class="vac-tiles">
          <mat-icon>numbers</mat-icon>Quantity: {{resource.quantity}}
        </div></mat-grid-tile>


  </mat-grid-list>
</mat-card>
<p *ngIf="resources.length <1" style="text-align: center;">No resources added</p>





