<h1><b>Home</b>
  <br>
Welcome jame</h1><hr>
<h2>Profile</h2>
<mat-grid-list cols="2" rowHeight="3:2" [gutterSize]="'20px'">

  <!-- <mat-grid-tile matRipple [matRippleColor]="'#80c8bc'"><mat-card class="backgroundcard" routerLink="../request">
    <mat-card-header class="cardcontent">Manage Vaccines</mat-card-header>

    <mat-card-actions class="cardcontent"></mat-card-actions>


  <mat-grid-tile matRipple [matRippleColor]="'#80c8bc'"><mat-card class="backgroundcard" routerLink="../appointment">
    <mat-card-header class="cardcontent">Vaccine Appointments</mat-card-header>

    <mat-card-actions class="cardcontent"></mat-card-actions>
  </mat-card></mat-grid-tile>

  <mat-grid-tile matRipple [matRippleColor]="'#80c8bc'"><mat-card class="backgroundcard" routerLink="../home">
    <mat-card-header class="cardcontent">Profile Settings</mat-card-header>

    <mat-card-actions class="cardcontent"></mat-card-actions>
  </mat-card></mat-grid-tile>

  <mat-grid-tile matRipple [matRippleColor]="'#80c8bc'"><mat-card class="backgroundcard" routerLink="../home">
    <mat-card-header class="cardcontent">Privacy&Security</mat-card-header>

    <mat-card-actions class="cardcontent"></mat-card-actions>
  </mat-card></mat-grid-tile>

  <mat-grid-tile matRipple [matRippleColor]="'#80c8bc'"><mat-card class="backgroundcard" routerLink="../home">
    <mat-card-header class="cardcontent">Doctor&Volunteers</mat-card-header>

    <mat-card-actions class="cardcontent"></mat-card-actions>
  </mat-card></mat-grid-tile>

  <mat-grid-tile matRipple [matRippleColor]="'#80c8bc'"><mat-card class="backgroundcard" routerLink="../home">
    <mat-card-header class="cardcontent">aaaaaaaa</mat-card-header>

    <mat-card-actions class="cardcontent"></mat-card-actions>
  </mat-card></mat-grid-tile>

  <mat-grid-tile matRipple [matRippleColor]="'#80c8bc'"><mat-card class="backgroundcard" routerLink="../home">
    <mat-card-header class="cardcontent">Healthcare Statistics</mat-card-header>

    <mat-card-actions class="cardcontent"></mat-card-actions>
  </mat-card></mat-grid-tile> -->
  <mat-card class="center-card" multi= "true">

  </mat-card>

</mat-grid-list>
