<h1><b>Home</b>
  <br>
</h1><hr>
<h2>Profile for James</h2>
<mat-grid-list cols="2" rowHeight="3:2" [gutterSize]="'20px'">


  <mat-card class="center-card" multi= "true">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Full Name:</mat-label>
      <input matInput value="james" [disabled]="inactive">

    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Email:</mat-label>
      <input matInput value="jame@gmail.com" [disabled]="inactive">

    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Phone:</mat-label>
      <input matInput value="01234567899" [disabled]="inactive">

    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Staff ID:</mat-label>
      <input matInput value="S001" [disabled]="inactive">

    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Position:</mat-label>
      <input matInput value="HOD" [disabled]="inactive">

    </mat-form-field>
    <mat-action-row>
      <button mat-button color="primary" (click)="changeStatus()">Edit</button>

      </mat-action-row>



  </mat-card>



