<h1><b>Home</b>
  <br>
</h1><hr>
<div *ngIf="currentUser">
<h4 >Profile for {{currentUser.username}}, Postition: {{currentUser.position}}</h4>
<h4>School ID: {{currentUser.schoolID}}, School Name:{{currentUser.schoolname}}</h4>
</div>
<mat-grid-list cols="2" rowHeight="3:2" [gutterSize]="'20px'">


  <mat-card class="center-card" multi= "true">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Full name:</mat-label>
      <input matInput value={{currentUser.fullname}} [disabled]="inactive">

    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Password:</mat-label>
      <input matInput value={{currentUser.password}} [disabled]="inactive">

    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Email:</mat-label>
      <input matInput value={{currentUser.email}} [disabled]="inactive">

    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Phone:</mat-label>
      <input matInput value={{currentUser.phone}} [disabled]="inactive">

    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Staff ID:</mat-label>
      <input matInput value={{currentUser.staffid}} [disabled]="inactive">

    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Position:</mat-label>
      <input matInput value={{currentUser.position}} [disabled]="inactive">

    </mat-form-field>
    <mat-action-row>
      <button mat-button color="primary" (click)="changeStatus()">Edit</button>

      </mat-action-row>



  </mat-card>



