<p>Please enter batch info:</p>

<mat-form-field appearance="fill" class="">
  <mat-label>Enter batch number:</mat-label>
  <input matInput [(ngModel)]="data.enteredNumber" type="text" name="number" #number="ngModel" ngModel required minlength="3">
  <mat-hint>Must be 3 or more characters</mat-hint>
  <mat-error *ngIf="number.hasError('minlength')">Must be <strong>3 or more</strong> characters!</mat-error>

</mat-form-field>

<mat-form-field appearance="fill" style="width: 200px;">
  <mat-label>Enter expiry date:</mat-label>
  <input matInput [(ngModel)]="data.selecteddate" [matDatepicker]="picker" required
         (dateInput)="onEvent('input', $event)" (dateChange)="onEvent('change', $event)" >
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="fill" class="">
  <mat-label>Enter quantity:</mat-label>
  <input matInput [(ngModel)]="data.enteredQuantity" type="number" name="quantity" #quantity="ngModel" ngModel required min="1">
  <mat-hint>Insert a valid quantity.</mat-hint>
</mat-form-field>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="data"
  [disabled]="verify||number.errors?.['required']||quantity.errors?.['min']
  ||number.errors?.['minlength']||quantity.errors?.['required']">Ok</button>
</div>
