<!--Resource request-->
<h1><b>Resource Requests</b></h1>
<!-- //<h3><b>For School:{{currentUser.schoolname}}</b></h3> -->
<hr>
<mat-tab-group>

  <mat-tab label="Resource Request"><p><b>Add resources to request.</b></p>
    <mat-card class="center-card" multi="true">

      <form (submit)="onAddResource(resourceForm)" #resourceForm="ngForm">

          <mat-form-field appearance="fill" class="login-card-full-width">
            <mat-label>Description</mat-label>
            <input matInput type="text" name="description" #description="ngModel" ngModel required min="20">

          </mat-form-field>



          <mat-form-field appearance="fill"  class="login-card-full-width">
            <mat-label >Resource Type:</mat-label>
            <mat-select name="resourceType" #resourceType="ngModel" ngModel required>
              <mat-option value="mobile device">Mobile Device</mat-option>
              <mat-option value="personal computer">Personal Computer</mat-option>
              <mat-option value="networking device">Networking Device</mat-option>
            </mat-select>
          </mat-form-field>


            <mat-form-field appearance="fill" class="login-card-full-width">
              <mat-label>Quantity:</mat-label>
              <input matInput type="number" name="quantity" #quantity="ngModel" ngModel required min="0">
            </mat-form-field>

          <button
mat-raised-button color="accent"
  type="submit">Submit</button>
      </form>
    </mat-card>

    <mat-card class="center-card" multi="true" *ngFor="let request of requests">
      <mat-grid-list cols="7" rowHeight="40px">

          <mat-grid-tile colspan="3"><div class="vac-tiles">
            <mat-icon>description</mat-icon>Description: {{request.description}}
            </div></mat-grid-tile>
            <!-- <mat-grid-tile colspan="1"><div class="vac-tiles"><mat-icon>blur_on</mat-icon>From: {{getTotalResources(resource)}}</div></mat-grid-tile> -->
            <mat-grid-tile colspan="2"><div class="vac-tiles">
              <mat-icon>list</mat-icon>Type: {{request.resourceType}}
            </div></mat-grid-tile>

            <mat-grid-tile colspan="2"><div class="vac-tiles">
              <mat-icon>numbers</mat-icon>Quantity: {{request.quantity}}
            </div></mat-grid-tile>

            <mat-grid-tile colspan="2"><div class="vac-tiles">
              <mat-icon>numbers</mat-icon>Status: {{request.status}}
            </div></mat-grid-tile>


      </mat-grid-list>
      <mat-action-row>
        <!-- <button mat-button color="primary" [routerLink]="['/edit',reqId]">Edit</button> -->
        <button mat-button color="warn"
        (click)="onDelete(request.id)">Delete</button>
        </mat-action-row>
    </mat-card>
    <p *ngIf="requests.length <1" style="text-align: center;">No resources added</p>

    </mat-tab>



<!--tutorial request-->
<mat-tab label="Tutorial Request"><p><b>Add tutorial to request.</b></p>

<mat-card class="center-card" multi= "true">
  <form (submit)="onAddTutorial(tutorialForm)" #tutorialForm="ngForm">
  <mat-form-field appearance="fill" class="login-card-full-width">
    <mat-label >Description</mat-label>
    <input matInput type="text" name="tutDescription" #tutDescription="ngModel" ngModel required min="20">
  </mat-form-field>

  <mat-form-field appearance="fill" class="login-card-full-width">
    <mat-label >Required Date</mat-label>
    <input matInput type="date" name="tutdate" #tutdate="ngModel" ngModel required min="20">
  </mat-form-field>


  <mat-form-field appearance="fill" class="login-card-full-width">
    <mat-label >Required Time</mat-label>
    <input matInput type="time" name="time" #time="ngModel" ngModel required min="20">
  </mat-form-field>

  <mat-form-field appearance="fill" class="login-card-full-width">
    <mat-label >Student Level</mat-label>
    <input matInput type="text" name="studentLevel" #studentLevel="ngModel" ngModel required min="20">
  </mat-form-field>

  <mat-form-field appearance="fill" class="login-card-full-width">
    <mat-label >Number of Students</mat-label>
    <input matInput type="number" name="numOfStudents" #numOfStudents="ngModel" ngModel required min="0">
  </mat-form-field>

  <button
mat-raised-button color="accent"
  type="submit">Submit</button>
</form>
</mat-card>

<mat-card class="center-card" multi="true" *ngFor="let request of requests">
  <mat-grid-list cols="6" rowHeight="40px">
    <mat-grid-tile colspan="2"><div class="vac-tiles">
       <mat-icon> access_time</mat-icon>Tutoral Time: {{request.time}}
    </div></mat-grid-tile>
    <mat-grid-tile colspan="2"><div class="vac-tiles"><mat-icon>date_range</mat-icon>Date: {{request.tutdate}}</div></mat-grid-tile>
    <mat-grid-tile colspan="2"><div class="vac-tiles"><mat-icon>description</mat-icon>
     Description: {{request.tutDescription}}
    </div></mat-grid-tile>
    <mat-grid-tile colspan="2"><div class="vac-tiles"><mat-icon>numbers</mat-icon>
       No of Students: {{request.numOfStudents}}
    </div></mat-grid-tile>
    <mat-grid-tile colspan="2"><div class="vac-tiles"><mat-icon>class</mat-icon>
     Student Level: {{request.studentLevel}}
    </div></mat-grid-tile>
    <mat-grid-tile colspan="2"><div class="vac-tiles"><mat-icon>class</mat-icon>
       Status: {{request.status}}
    </div></mat-grid-tile>
  </mat-grid-list>
  <mat-action-row>
    <!-- <button mat-button color="primary" [routerLink]="['/edit',reqId]">Edit</button> -->
    <button mat-button color="warn"
    (click)="onDelete(request.id)">Delete</button>
    </mat-action-row>
</mat-card>

<p *ngIf="requests.length<1" style="text-align: center;">There are no added tutorials.</p>
</mat-tab>



</mat-tab-group>
