<h1><b>Review Offers</b></h1>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="New">
    <div style="height: 20px;"></div>
    <ng-container *ngFor="let vac of vaccinations" multi="true">
    <mat-card class="center-card" multi= "true" *ngIf="vac.status==='Pending'" >
      <mat-grid-list cols="5" rowHeight="40px">
        <mat-grid-tile colspan="3"><div class="vac-tiles" style="font-size: 20px;">
          <b><mat-icon style="font-size: 17px;padding-right: 0px;"> vpn_key</mat-icon>{{vac.vaccinationID}}</b>
        </div></mat-grid-tile>
        <mat-grid-tile><div class="vac-tiles" style="text-align: right;display:block;">Requested Date: </div></mat-grid-tile>
        <mat-grid-tile><div class="vac-tiles"><mat-icon>calendar_today</mat-icon>{{vac.Appointdate | date:'MM/dd/yyyy'}}</div></mat-grid-tile>
        <mat-grid-tile><div class="vac-tiles" style="text-align: right;display:block;">Batch Info:</div></mat-grid-tile>
        <mat-grid-tile><div class="vac-tiles"><mat-icon>vpn_key</mat-icon>{{getBatch(vac.batch)?.batchID}}</div></mat-grid-tile>
        <mat-grid-tile><div class="vac-tiles"><mat-icon>date_range</mat-icon>{{getBatch(vac.batch)?.expiry | date:'MM/dd/yyyy' }}</div></mat-grid-tile>
        <mat-grid-tile><div class="vac-tiles"><mat-icon>info</mat-icon>{{getBatch(vac.batch)?.vaccine}}</div></mat-grid-tile>
        <mat-grid-tile><div class="vac-tiles"><mat-icon>store</mat-icon>{{getBatchManufacturer(vac.batch)}}</div></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile><div class="vac-tiles"><mat-icon>check_circle_outline</mat-icon>
          {{countAvailable(vac.batch)}}
        </div></mat-grid-tile>
        <mat-grid-tile colspan="1"><div class="vac-tiles"><mat-icon>hourglass_empty</mat-icon>
          {{getBatch(vac.batch)?.pending}}
        </div></mat-grid-tile>
        <mat-grid-tile colspan="2"></mat-grid-tile>
        <mat-grid-tile><div class="vac-tiles" style="text-align: right;display:block;">Patient Info:</div></mat-grid-tile>
        <mat-grid-tile><div class="vac-tiles"><mat-icon>account_box</mat-icon>{{getUser(vac.user)?.fullname}}</div></mat-grid-tile>
        <mat-grid-tile><div class="vac-tiles"><mat-icon>assignment_ind</mat-icon></div></mat-grid-tile>
        <mat-grid-tile><div class="vac-tiles"><mat-icon> call</mat-icon>{{getUser(vac.user)?.phone}}</div></mat-grid-tile>

      </mat-grid-list>
      <mat-toolbar class="toolbars">
        <mat-toolbar-row class="action-bar">
          <span class="spacer"></span>
          <button mat-raised-button color='warn' class="toolbar-end-button" (click)="onReject(vac)">
            Reject Batch</button>
          <button mat-stroked-button color='accent' class="toolbar-end-button" (click)="onApprove(vac.vaccinationID)">
            Appoint Batch</button>
        </mat-toolbar-row >
      </mat-toolbar>

    </mat-card>
  </ng-container>
    <p style="text-align: center;">There are no new batches.</p>
  </mat-tab>
</mat-tab-group>
