<h2 >Sign up</h2>
<mat-card>

  <form (submit)="onLogin(loginform)" #loginform= "ngForm" >

    <mat-form-field>
      <input
      matInput
      name="username"
      type = "text"
      ngModel
      #username="ngModel"
      placeholder="Username">
      <mat-error *ngIf="">Please enter a valid username</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
      matInput
      name="password"
      ngModel
      type = "password"
      #password="ngModel"
      placeholder="Password">
      <mat-error *ngIf="">Please enter a valid password</mat-error>
    </mat-form-field>



    <button
    mat-raised-button
    color = "primary"
    type = "submit"  routerLink="/volunteer">Submit
  </button>
  </form>

</mat-card>
