mat-form-field{
  width: 100%;
}

mat-spinner{
  margin: auto;
}


.form-wrapper {
  padding: 20px;
  width:500px;
  margin: auto;
}

.form-field-width{
 width:100%;
}

.form-field-width-short{
 width:74px;
}

.form-field-width-mobile{
  width:81%;
 }

.form-wrapper h2 {
  background: #fbc02d;
  text-align: center;
  border-radius: 9px;
  font-size: 17px;
}

@media (max-width: 768px) {
  .form-wrapper {
    padding: 20px 0px;
  }
  .form-field-width{
    width:100%;
   }
   .pr-3{
     padding-right: 0px !important;
   }
}
